.encabezado{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.dven{
    width: 100%;
    height: auto;
}

/*Imagenes que forman parte del encabezado*/
.imgs{
    width: 150px;
    height: 100px;
    margin-left: 10%;
}

.img2{
    width: auto;
    height: 150px;
    margin-left: 25%;
    margin-top: 2%;
}

.img3{
    width: 160px;
    height: 100px;
    margin-left: 20%;
}

/*Fecha del Formulario*/
.fc{
    width: 120px;
}

.dfec{
    margin-top: 20px;
    margin-left: 60%;
    width: 100%;
    height: auto;
}

.txtF{
    border: 10px;
    border-color: red;
    border-radius: 5px;
    width: 150px;
    background-color: #D9D9D9;
}

/*Primera Tabla*/
.table{
    margin-left: 10%;
    width: 83%;
    border: black;
}

.inp{
    width: 70%;
    height: 10%;
}

.fcr{
    width: 32%;
    height: 70px;
    margin-left:0px;
    text-align: center;
}

.tdi{
    width: 100px; 
    height: 60px;
}

.tdd{
    height: 60px; 
    width: 90.2%;
    margin-left: -10px;
}

.td3{
    height: 60px;
    width: 100%;
}

.td4{
    height: 60px;
    width: 10%;
    margin-right: 8%;
}

.td5{
    height: 60px;
    width: 62%;
}

/*Fecha en el punto 17*/
.fcs{
    width: 25%;
    text-align: center;
}

.fcs2{
    width: 33.4%;
    text-align: center;
}

.fcs3{
    width: 33.4%;
    height: 40px;
    padding: 1%;
    border-top: 2px inset;
    border-bottom: 2px inset;
    border-right: 2px inset;
    border-left: 2px inset;
    font-weight: bold;
}